html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  color: white;
  font-family: 'Numans', sans-serif;
  height: 100px;
  background-color: #0091CC;
  background-image:
    linear-gradient(
      to top right,
      #0091CC, #9B26B6
    );
}

.nav-link {
  font-size: 20px;
  font-family: 'Numans', sans-serif;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #30343F;
  text-align: center;
}

.phone, a, .contact-info {
  color: #D3D3D3;
}

.phone:hover, a:hover, .contact-info:hover {
  color: #878787;
}

ul {
  font-size: 30px
}

p.about{
  font-size: 26px;
}

.but {
  display: flex;
  justify-content: center;
  align-items: center;
}

.but-link {
  color: #272838
}

h1 {
  font-size: 100px;
}

hr {
  background-color:white;
}

.star {
  font-size: 30px;
}

.btn-lg {
  width: 200px;
  height: 60px;
  font-size: 20px;
}
